*{
    box-sizing: border-box;
}
.body{
    margin: 0;
    padding: 0;
    background-color: mistyrose;
}
.header{
    padding: 20px;
    background-color: rosybrown;
}
footer{
    background-color: rosybrown;
    padding: 25px;
}
.link{
    text-decoration: dashed;
}